<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>3dpub</title>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="../css/indexEnglish.css" rel="stylesheet">
</head>

<body>
	<nav class=" navbar-default nav-css">
    	<div class="img-class-repeat" >
    		<!--<img  src="img/main_person.ico"  alt="luFei">-->
        </div>
        <div class="btn-group pull-right" >
            <button class="btn btn-group btn-default">Language</button>
            <button class="btn btn-group btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">简体中文</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">русский</a></li> 
        </div>
    </nav>
    <div class="jumbotron div-jumbotron">
    	<div class="container">
        	<div class="container col-lg-6">
                <h1><small>Welcome</small></h1>
                <h1>Personal Homepage</h1>
                <p>This personal homepage was designed by TianJian</p>
                <p>This web is used for learning  </p>
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <div class="thumbnail">
                                <img src="../img/lufei.jpg">
                        </div>
                    </div>
                </div>
               <!-- <p class="p-css"><a href="#" class="btn btn-info btn-lg">Login in</a></p>-->
            </div>
            <div class=" container-fluid col-lg-4">
            	<div class="container">
                	<form class="form-horizontal form-main-body" >
                    	<div class="form-group">
                            <label class="col-md-6 control-label">UserName:</label>
                            <div class="col-md-6">
                                <input id="user-id" type="text" placeholder="UserName" class="form-control input-form-class" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Password:</label>
                            <div class="col-md-6">   
                                <input id="psw-id" type="password" placeholder="Password" class="form-control input-form-class" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-6 col-md-6">
                            	<div class="checkbox">
                                    <label class="control-label"><input type="checkbox">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        	<div class="col-md-offset-6 col-md-6">
                            	<button class="btn btn-info" type="button" id="submit-id">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <nav class="navbar navbar-default" role="navigation" style="padding:10px">
    	<div class="container-fluid">
        	<div class="navbar-header"><span class=" navbar-brand">Message:&nbsp;&nbsp;<small>designed by Tianjian used bootstrap, proto-javascript and node.js</p></small></div>
            <div class="collapse navbar-collapse pull-right">
            	<!--<ul class="nav navbar-nav">
                	<li><a href="#" class="">Link</a>/</li>
                </ul>-->
                <form class="navbar-form navbar-left">
                	<div class="form-group">
                    	<input type="text" class="form-control" placeholder="search">
                    	<button class="btn btn-default">Search</button>
                    </div>
                </form>
            </div> 
        </div>
    </nav>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/EventUtil.js"></script>
    <script src="../js/getAndPostMethod.js"></script>
    <script src="../js/submitUserAndPsw.js"></script>
</body>
</html>
